
<% if model.errors.any? %>
      <div id="error_explanation">
          <% I18n.t("errors.messages.not_saved",
                    count: model.errors.count,
                    resource: model.class.model_name.human.downcase) %>
      <div class='error-alert'>
        <ul>
           <% model.errors.full_messages.each do |message| %>
           
            <li class='error-message'><%= message %></li>
            
          <% end %>
        </ul>
      </div>
     </div>
<% end %>
